table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #270cf3
}

th {
    background-color: #e2ece2;
    color: white;
}