table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b3a2ad
}

th {
    background-color: #acbb0d;
    color: rgb(242, 10, 118);
}